@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject IUriHelper UriHelper

@functions {
    protected override async Task OnAfterRenderAsync()
    {
        await JsRuntime.InvokeAsync<string>("Prism.highlightAll");
        await base.OnAfterRenderAsync();
    }
}

<header>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
        <NavLink class="navbar-brand mb-0 h1" href="" Match="NavLinkMatch.All">
            Bootstrap.NET
        </NavLink>

        <div class="navbar">
            <div class="navbar-nav">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                <MenuLink class="nav-link" href="/docs/4.3/getting-started/introduction" Match="NavLinkMatch.Prefix" MatchUrl="/docs">Documentation</MenuLink>
            </div>
        </div>
    </nav>
</header>

<Container Type="fluid">
    <Row AdditionalCssClasses="flex-xl-nowrap">
        <Column Span="12 | md-3 | xl-2">
            @if (UriHelper.GetAbsoluteUri() != @UriHelper.GetBaseUri())
            {
                <nav class="nav flex-column table-of-contents">
                    <MenuLink class="nav-link" href="/docs/4.3/getting-started/introduction" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/getting-started">
                        Getting started
                        <MenuLink class="nav-link" href="/docs/4.3/getting-started/introduction">Introduction</MenuLink>
                    </MenuLink>

                    <MenuLink class="nav-link" href="/docs/4.3/layout/overview" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/layout">
                        Layout
                        <MenuLink class="nav-link" href="/docs/4.3/layout/overview">Overview</MenuLink>
                        <MenuLink class="nav-link" href="/docs/4.3/layout/grid">Grid</MenuLink>
                        <MenuLink class="nav-link" href="/docs/4.3/layout/utilities-for-layout">Utilities for layout</MenuLink>
                    </MenuLink>

                    <MenuLink class="nav-link" href="/docs/4.3/utilities/spacing" Match="NavLinkMatch.Prefix" MatchUrl="/docs/4.3/utilities">
                        Utilities
                        <MenuLink class="nav-link" href="/docs/4.3/utilities/spacing">Spacing</MenuLink>
                    </MenuLink>
                </nav>
            }
        </Column>
        <Column Span="12 | md-9 | xl-8" Padding="vertical-md-3 | left-md-5">
            <main>
                @Body
            </main>
        </Column>
    </Row>
</Container>